
.formulario-container{
    background: #EFFCFC;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 40px 0 40px;
    padding: 30px 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.logo-formulario {
    height: 120px;
    margin-bottom: 10px;
}


h2 {
    color: #45b1a1;
    margin-bottom: 20px;
    font-size: 1.8em;
    font-weight:600;
}

.login-form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
    font-weight: 600;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.95em;
    transition: border-color 0.3s;
}

.login-form input:focus {
    border-color: #1d6d5d;
    outline: none;
}

.olvide-contrasena {
    display: inline-block;
    margin-bottom: 20px;
    color: #888;
    text-decoration: none;
    font-size: 0.9em;
    transition: color 0.3s;
}

.olvide-contrasena:hover {
    color: #1d6d5d;
}


button {
    width: 100%;
    padding: 12px;
    background-color: #ffd84d;
    border: none;
    border-radius: 25px;
    color: #333333 ;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #ffc107;
    color: white;
    transform: scale(1.02);
}
