@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.navbar {
    background-color: #1d6d5d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    color: white;
    width: 100%; 
    margin-left: auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px; 
}

.logo img {
    height: 50px;
}

.texto-logo .nombre {
    font-size: 18px;
    font-weight: bold;
    color: #ccc;
}

.texto-logo .descripcion {
    font-size: 12px;
    color: #ffffffa8;
}

.menu-container {
    display: flex;
    align-items:center;
    gap: 25px;
}

.menu {
    display: flex;
    margin-left: 600px;
    gap: 25px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
    font-family: "Montserrat";
    padding: 5px 0; 
}

.menu a:hover{
    color: #ffd84d;
}

.boton-acceder a {
    background-color: #ffd84d;
    color: white; 
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
    font-family: "Montserrat";
}



.boton-acceder a:hover {
    color: #1d6d5d;
}

.menu a:target{
    color: #ffd84d !important;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* Tipografía adaptable */
h1 {
    font-size: 2rem;
    text-align: center;
}

p {
    font-size: 1rem;
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Diseño flexible con media queries */
@media (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.125rem;
    }
}

@media (min-width: 1024px) {
    .container {
        display: flex;
        gap: 20px;
    }

    .container > div {
        flex: 1;
    }
}

